auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
prefer-workspace-packages=true
link-workspace-packages=deep
shared-workspace-lockfile=true
recursive-install=true
enable-pre-post-scripts=true